
.brand_image {
  width: 80px;
  // height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

// .background_image {
//   background-image: url("/assets/sneakr3.jpeg");
//   background-position: center center;
//   background-repeat: no-repeat;
//   height:400px;
// }

.social {
  text-align: center;
  font-size: 40px;
  line-height: 2;
  margin-top: 50px;
  margin-bottom: 100px;
}

.social ul {
  margin: 0;
  padding: 5px;

}

.social ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}

.social i {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: #55BEB0;
    font-size: 22px;
    text-align:center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.fa .fa-sort-asc {
}

.social .fa-facebook:hover { /* round facebook icon*/
    background: #4060A5;
}

.social .fa-twitter:hover { /* round twitter icon*/
    background: #00ABE3;
}

.social .fa-instagram:hover { /* round instagram icon*/
    background: #375989;
}

#main-logo {
  position: absolute;
}

#main-logo.shoes-front > img {
  height: 125px;
}

#home-title {
  color: grey;

}

.subtitle {
  color: #333333;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}

.brand-card {
  background-color: $pink;
  border: 2px solid #EDEFED;
  height: 400px;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: $bluenike;
  }
  a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.brand-card img {
  width: 157px;
  height: 118px;
  margin: auto;

}

#wrapper {
  width: 90%;
  max-width: 1100px;
  min-width: 800px;
  margin: 50px auto;
}

#columns {
  -webkit-column-count: 3n;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 50px;
  -moz-column-fill: auto;
  column-count: 3;
  column-gap: 30px;
  column-fill: auto;
}

.pin {
  display: inline-block;
  background: white;
  box-shadow: 0 1px 2px rgba(202, 200, 200, 1);
  margin: 0 2px 15px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  opacity: 1;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;

  &-title {
    padding: 15px;

    h2 {
      margin: 0;
      font-size: 25px;
      color: rgb(82, 82, 82);
    }
  }

  &-content {
    background: rgba(0, 0, 0, 0.02);
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding: 15px;
  }


  &:hover {
    background-color: #FD2F51;
    color: white;
    cursor: pointer;
    h2 {
      color: white;
    }
    p {
      color: white;
    }
  }
  img {
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  p {
    font-size: 15px;
    text-align: justify;
    color: #333;
    font-weight: 300;
    margin: 0;
  }
}

.arrow-up {
  border-bottom: 9px solid #534540;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 9px solid transparent;
  left: 10px;
  position: absolute;
  top: 0px;
}


