  // .fa .fa-sort-asc {
  //     color: #F92772;
  // }

  #logo-brand {
      position: absolute;
      font-size: 10px;
      height: 50px;
      }

  .btn-container {
    input {
      width: 304px;
      background: rgb(50, 183, 150);
      border: 0;
      color: white;
      padding: 10px 10px 10px 10px;
      text-transform: uppercase;

      &:hover {
        background: lighten(rgb(50, 183, 150), 10%);

      }
    }
  }

  #results {
    h2 {
      font-size: 18px;
      text-align: left;
    }
    .result {
      background: white;
      box-shadow: 1px 1px 3px rgb(221, 221, 221);
      margin-bottom: 5px;
      &-img {
        height: 130px;
        background-position: center center;
        background-size: cover;
      }
      &-body {
        padding-left: 10px;
        h2 {
          font-size: 20px;
        }
      }
      &-infos {
        border-left: 1px dashed rgb(221, 220, 220);
        padding-left: 16px;
        line-height:0.8;
        .price {
          font-size: 32px;
          font-weight: bold;
          padding-bottom:15px;
        }
        .btn-warning {
          background: red;
          width: 90px;
          margin-top: 12px;

          &:hover {
            background: lighten(rgb(50, 183, 150), 10%);

          }

      }
      ul {
        margin-bottom: 10px;
      }
    }
  }
}

.select-style {
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  width: 120px;
  border-radius: 3px;
  overflow: hidden;
  background-color: #fff;
}

.select-style select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-style select:focus {
  outline: none;
}

.ui-slider-horizontal {
  height: 0.2em;
}


#slider-range {
  background: $pink;
  border: 1px;
  width: 80%;
}

.ui-slider-handle {
  background: #32B796;
  border: 1px solid #32B796;
  border-radius: 30%;
  &:focus {
    outline: none;
  }
}
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1em;
  height: 1em;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none;
}


.ui-slider-range {
  background: #32B796;
  border: #32B796;

}

#minValue {
  padding-top: 20px;
  font-size:20px;
}

#maxValue {

  padding-top: 20px;
  position: relative;
  right: 75px;
  font-size:20px;

}

.btn-container {
  padding-top: 90px;


}

.size {
  margin-top : 40px;
  margin-bottom: 40px;
}

.price {
  margin-top : 20px;
}

.left {
  text-align: left !important;
}