<div id="social" class="social">

    <ul class="list-inline">
      <li><a href="http://www.facebook.com/sneakr.fr/" target="_blank"><i class="fa fa-lg fa-facebook"></i></a>
      </li>
      <li><a href="https://www.twitter.com" target="_blank"><i class="fa fa-lg fa-twitter"></i></a>
      </li>
      <li><a href="https://instagram.com/" target="_blank"><i class="fa fa-lg fa-instagram"></i></a>
      </li>
    </ul>
</div>