<meta charset="UTF-8" /><pre>
<div id="price"></div>

<div id="picture-url"></div>

<div id="title"></div>

<div id="size"></div>
</pre>

<div class="shoes-listing" id="price" id="picture-url" id="title" id="size">
</div>