<h1>All Brands</h1>
<p>Find me in app/views/index/brands.html.erb</p>

<ul>
  <%@brands.each do |brand|%>
    <li> <%= link_to brand.name, brand_shoes_path(brand) %> <!--
      rajouter suite éléments (description etc.) -->
    </li>
  <% end %>
</ul>

