<div class="container">
  <div id="main-logo">
    <%= image_tag "logook.png"  %>
  </div>
</div>

<h1>Sneakr</h1>
  <div class="subtitle">
    <p> Digger </p>
    <a href="#social">
     <i class="fa fa-heart"></i>
    </a>
</div>

<div id="brands">
  <div class="row">
    <% @brands.each do |brand| %>
      <div class="col-xs-3">
        <div class="brand-card">
          <%= image_tag brand.photo_url, class: "img-rounded img-responsive" %>
          <%= link_to "", brand_shoes_path(brand) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>

