<div class="container">
  <div id="main-logo">
    <%= image_tag "logook.png", class: "img-center"  %>
  <h1>Sneakr</h1>
  </div>
</div>



<div class="subtitle">
  <p> Trouvez toutes les sneakers motherfuck </p>
</div>
  <div class="social">
    <ul class="list-inline">
      <li><a href="#"><i class="fa fa-lg fa-facebook"></i></a>
      </li>
      <li><a href="#"><i class="fa fa-lg fa-twitter"></i></a>
      </li>
      <li><a href="#"><i class="fa fa-lg fa-instagram"></i></a>
      </li>
    </ul>
  </div>
</div>

<div id="brands">
  <div class="row">
    <% @brands.each do |brand| %>
      <div class="col-xs-3">
        <div class="brand-card">
          <%= image_tag brand.photo_url, class: "img-rounded img-responsive" %>
          <%= link_to "", brand_shoes_path(brand) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>


